<div class="container">
<h2>Make learning goals you can keep</h2>
<p>Optimize your learning by keeping track of your goals and the steps your take to meet them.</p>
<h2>Discover how you learn best</h2>
<p>Find out what kinds of tasks are best for you and find out your most effective learning style.</p>
<h2>Get help meeting your goals</h2>
<p>Compare your learning activity to a proven ideal model to find out what kinds of activities and help you learn better, faster.</p>
<h2>Not just for studying - for any skill</h2>
<p>Everything is a skill and over time anything can be learned with the right kind of focused practice. Use StuDDo to help you improve your freestyle stroke, shoot a better lay-up, cook a meal, learn a language or web programming (<a href="about/index"> I did </a>).</p>
<h3>What do you want to learn?<h3>
<%= link_to 'Sign Up', new_user_registration_path, class: 'button radius' %>
</div>
