<h1>About</h1>
<hl>
<p>StuDDo stands for <strong>Stu</strong>dy-<strong>D</strong>rill-<strong>Do</strong> and is a learning and productivity tool with two main features:<p>
<ul>
<li>It integrates a common foreign language lesson-planning methodology to optimize study by checking how you study (the allocation of the different tasks you use to study) against an ideal allocation for optimized learning.</li>
<li>It helps you discover your learning style by tracking the types of activities you use to study and keeping track of how well you retain material from them.</li>
</ul>
<p>StuDDo is being developed as a final project for <a href="http://www.launchacademy.com">Launch Academy</a> by <a href="http://www.krysiacodes.com">Kristin Smith</a>, a former teacher.</p>
<hl>
<div class="about_index">
<a href="http://www.launchacademy.com"><img src="https://avatars0.githubusercontent.com/u/3612691?">Launch Academy</a>
<a href="https://github.com/kms617"><img src="https://avatars3.githubusercontent.com/u/8020831?">Kristin's GitHub Repo</a>
<a href="http://www.krysiacodes.com"><img src="https://avatars3.githubusercontent.com/u/8020831?">Kristin's Website</a>
</div>
