<div class="about-container">
  <h1>About</h1>
  <p><strong>study.drill.do</strong> is a learning and productivity tool with two main features:<p>
  <ul>
    <li>It integrates a common foreign language lesson-planning methodology to optimize study by checking how you study (the allocation of the different tasks you use to study) against an ideal allocation for optimized learning.</li>
    <li>It helps you discover your learning style by tracking the types of activities you use to study and keeping track of how well you retain material from them.</li>
  </ul>
  <p><strong>study.drill.do</strong> is being developed as a breakable toy (final project) for<a href="http://www.launchacademy.com">Launch Academy</a> by Kristin Smith, a former foreign language and ESL teacher.</p>
</div>

<div class-="about_box"
<div class="about_box1">
<a href="http://www.launchacademy.com"><img src="https://avatars0.githubusercontent.com/u/3612691?"><br>Launch Academy</a></div>
<div class="about_box2">
<a href="https://github.com/kms617"><img src="https://avatars3.githubusercontent.com/u/8020831?"><br>Kristin's GitHub Repo</a></div>
<!--<div class="about_index">
<a href="http://www.krysiacodes.com"><img src="https://avatars3.githubusercontent.com/u/8020831?"></a>!
</div>-->
</div>
