<h1>Revise A Goal</h1>

<%= render 'form' %>

<p><%= link_to 'Delete', @goal, class: 'button radius', method: :delete, data: { confirm: 'Are you sure you want to delete this goal?' } %></p>
<p><%= link_to 'Back to Goal', goal_path(@goal) %></p>
